/* Search */

.search {
	list-style-type: none;
    margin: 30px auto;
    padding: 15px 15px 70px 15px;
    background-color: lightgrey;
    width: 90%;
}

.search li{
    float: left;
}

.search li select{
    display: block;
    color: #222222;
    align-content: baseline;
    padding: 0px;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
}

.search li p{
    display: block;
    color: #222222;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
}

.search li input{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    margin: 15px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Transactions */

.account .transaction ul{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 30px auto;
    padding: 15px;
    width: 90%;
}

.account .transaction li{
    color: #333;
    display: flex;
    text-decoration: none;
}

.account .transaction p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 10px;
    color: #222222;
    border-bottom: 1px solid darkgrey;
}

.account .transaction strong{
    font-size: 40px;
}

.account .transaction span{
    font-size: 20px;
    padding-top: 20px;
}

.account .transaction .action{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}

.account .transaction .action input{
    margin-left: 30px;
}

.account h5{
    font-size: 40px;
    margin-left: 20px;
}

.account #searchClient:hover{
    background-color: darkgrey;
    color: #222222;
}

.account .image:hover{
    background-color: darkgrey;
    color: #222222;
}

@supports (display: grid) {
    .account .transaction ul{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 150px;
        grid-gap: 60px;
    }
}
