body{
	background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
}

.actualite h1{
	font-size:30px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
}

.actualite span{
	margin-left: 450px;
	padding-bottom: 70px;
}

.actualite .gauche{
	float: left;
}

.actualite .droite{
	float: right;
}

.actualite .lu{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 50px auto;
    padding: 15px;
    width: 90%;
}

.actualite li{
	list-style-type: none;
}

.actualite .il{
    color: #333;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.actualite a:hover{
    background-color: darkgrey;
    color: #222222;
}

.actualite input:hover{
    background-color: darkgrey;
    color: #222222;
}
