.cart ul{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 30px auto;
    padding: 15px;
    width: 90%;
}

.cart li{
    color: #333;
    display: flex;
    text-decoration: none;
}

.cart img{
    border: 1px solid #222222;
    display: block;
    height: 150px;
    flex: 0 0;
}

.cart p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 10px;
    color: #222222;
    font-size: 15px;
}

.cart h4, .cart h5{
    font-size: 40px;
}

.cart h5{
    margin-left: 20px;
}

.cart span{
    padding-top: 30px;
}

.cart .price{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}

.cart .buy{
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}

.cart #buy:hover{
    background-color: darkgrey;
    color: #222222;
}

.cart .trash:hover{
    background-color: darkgrey;
    color: #222222;
}

/* grid  */
@supports (display: grid) {
    .cart ul{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 150px;
        grid-gap: 60px;
    }
}
