body{
	background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
}

.cgv h6{
    font-size: 16px;
    padding-top: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
}

.cgv span{
	padding-bottom:120px;
}

.cgv h1{
	font-size:30px;
}
