body{
	background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h6{
    font-size: 16px;
    padding-top: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
}

.contact span {
	padding-bottom:70px;
}

.contact h1{
	font-size:30px;
}

/* Search */

.contact .search {
	list-style-type: none;
    margin: 30px auto;
    padding: 15px 15px 70px 15px;
    background-color: lightgrey;
    width: 90%;
}

.contact .search li{
    float: left;
}

.contact .search li select{
    display: block;
    color: #222222;
    align-content: baseline;
    padding: 0px;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
}

.contact .search li p{
    display: block;
    color: #222222;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
}

.contact .search li input{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    margin: 15px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Messages */

.contact .message ul{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 30px auto;
    padding: 15px;
    width: 90%;
}

.contact .message li{
    color: #333;
    display: flex;
    text-decoration: none;
}

.contact .message p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 10px;
    color: #222222;
    border-bottom: 1px solid darkgrey;
}

.contact .message strong{
    font-size: 40px;
}

.contact .message span{
    font-size: 20px;
    padding-top: 20px;
}

.contact .message .action{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}

.contact .message .action input{
    margin-left: 30px;
}

.contact h5{
    font-size: 40px;
    margin-left: 20px;
}

.contact #searchClient:hover{
    background-color: darkgrey;
    color: #222222;
}

.contact .image:hover{
    background-color: darkgrey;
    color: #222222;
}
/*
@supports (display: grid) {
    .contact .message ul{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 150px;
        grid-gap: 60px;
    }
}
