/* Search */

.glasses .search{
    list-style-type: none;
    margin: 30px auto;
    padding: 15px 15px 70px 15px;
    background-color: lightgrey;
    width: 90%;
}

.glasses .search li{
    float: left;
}

.glasses .search li select{
    display: block;
    color: #222222;
    align-content: baseline;
    padding: 0px;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
}

.glasses .search li p{
    display: block;
    color: #222222;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
}

.glasses .search li input{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    margin: 15px 10px;
    text-decoration: none;
    font-size: 17px;
}

.glasses .list ul{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 90px auto;
    padding: 15px;
    width: 90%;
}

.glasses .list .bloc{
    color: #333;
    display: flex;
    text-decoration: none;
}

.glasses .list a:hover{
    background-color: darkgrey;
    color: #222222;
}

.glasses .list img{
    border: 1px solid #222222;
    display: block;
    height: 150px;
    flex: 0 0;
}

.glasses .list p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 10px;
    color: #222222;
}

.glasses .list span{
    padding-top: 40px;
}

.glasses .list .price{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}


.glasses .list .trash{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.glasses .list .description{
	font-size:12px;
}

.glasses #searchGender:hover{
    background-color: darkgrey;
    color: #222222;
}

.glasses .trash:hover{
    background-color: darkgrey;
    color: #222222;
}

/* grid  
@supports (display: grid) {
    .glasses ul {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 200px;
        grid-gap: 120px;
        float: right;
    }
}
*/
