body{
	background-image: url("../Pictures/Site/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1{
    text-align: center;
    color: white;
    font-size: 150px;
    text-shadow: #4682B4 15px 15px 30px;
}

.home .lu{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style: none;
    margin: 50px auto;
    padding: 15px;
    width: 90%;
}

.home a:hover{
    background-color: darkgrey;
    color: #222222;
}

.home .il{
    color: #333;
    display: flex;
    text-decoration: none;
    list-style:none;
}

.home img{
    border: 1px solid #222222;
    display: block;
    height: 300px;
    flex: 0 0;
}

.home p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 50px;
    color: #222222;
    font-size: 20px;
}

.home span{
    padding-top: 5px;
}

/* grid  */
@supports (display: grid) {
    .home .lu{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 505px;
        grid-gap: 60px;
    }
}
