.product .lu{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 50px auto;
    padding: 15px;
    width: 90%;
}

.product .luu{
    background-color: lightgrey;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
    list-style-type: none;
    margin: 50px auto;
    padding-top: 5px;
    padding-bottom: 60px;
    width: 90%;
}

.product li{
	list-style-type: none;
}

.product .il{
    color: #333;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.product img{
    border: 1px solid #222222;
    display: block;
    height: 130px;
    flex: 0 0;
}

.product p{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding-left: 50px;
    color: #222222;
    font-size: 20px;
}

.product span{
    padding-top: 15px;
}

.product .jump2{
	padding-bottom: 15px;
}

.product .jump{
	padding-top: 10px;
}

.product .description{
	padding-bottom: 15px;
}

.product .fix{
	padding-top: 15px;
}

.product .police{
	padding-top: 15px;
}

.product .price{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: left;
}

.product .cart{
    border-bottom: 1px solid darkgrey;
    margin-top: auto;
    padding-bottom: 5px;
    text-align: right;
}

.product #cart:hover{
    background-color: darkgrey;
    color: #222222;
}

.product a:hover{
    background-color: darkgrey;
    color: #222222;
}

/* grid  */
@supports (display: grid) {
    .product .lu{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ));
        grid-template-rows: 505px;
        grid-gap: 60px;
    }
}
