body{
	background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
}

.protection h1{
	font-size: 30px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 99%;
}

.protection span{
	margin-left: 150px;
	padding-bottom: 70px;
}
