body{
	display: flex;
}

.sidenav {
	width: 228px;
	height: 100%;
	position: fixed;
	background-color: #0B4C5F;
	color: white;
	padding-left: 10x;
}

#identite {
	background-color: #0B2F3A;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.look:hover {
	color: white;
	background-color: #0B2F3A;
	height: 30px;
	width: 213px;
	padding: 5px 0px 5px 0px;
}

section {
	width: 84%;
	margin-left: 229px;
	height: 100%;
	position: fixed;
}